# Virtual environments
# Conventions vary, including env, venv, or longer names like cgap_env,
# but typically they end in "env".
*env/
.chalice/deployments/
.chalice/deployed/
.chalice/venv/
.chalice/config.json
*.pyc
.DS_Store
credentials.json
token.pickle
__pycache__/
.idea/
log/
out/
in/
secrets.py